/*Fonts from Google fonts

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/


/****** GLOBAL ELEMENTS **************/

body{
  background-image: url('images/background-2.jpg');
  z-index: -100;
  width: 100%;
  position:absolute;
  /*margin: 0px 10px 0 10px;*/
}

h1, h2, h3{
  font-family: 'Merriweather', serif;
}

header{
  margin: -8px -8px 0 -8px;
  display: flex;
  align-items: center;
  width: 100%;

  box-shadow: 0 0px 3px rgba( 0,0,0,0.45);
  background-color: #ffffff;

  position: fixed;
  text-align: center;
  z-index: 10;
}

nav{
  /*border: 2px solid orange;*/
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: space-around;
}


/******   END of GLOBAL ELEMENTS   **************/

/********  TOP HEADER ELEMENTS   **************/


.logo img{
  /*margin-left: 0;*/
  width: auto;
  height:auto;
  max-width: 40px;
  max-height: 50px;
  padding: 15px;
  /*position: absolute;*/
  display: inline-block;
}

nav a{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: large;
  color: #2b2f26;
}

nav a:hover{
  color: #CD5D67;
}

nav a:active{
  color: #968772;
  background-color: #FFFFFF;
}


.empty_logo{
  /* Added for more effective center-alignment
  border: 2px solid orange;*/
  width: 90px;
  height: 98px;
}

/****** FORM ELEMENTS **************/
