/*Fonts from Google fonts

font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', serif;

*/


h1,h2,h3{
  font-family: 'Merriweather', serif;
}

h1{
  font-weight: bold;
}

h2{
  font-size: 90%;
}
