/*Fonts from Google fonts

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/

.wrapper{
  /*width: 1400px;*/
  /*display: inline;*/
}

img{
  margin: 10px;
}

h1{
  font-weight: bold;
}

h2{
  font-size: 90%;
}

h1, h2, h3{
  font-family: 'Merriweather', serif;
}

.top_header{
  border: 2px solid purple;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*position: relative;*/
}

.logo img{
  width: auto;
  height:auto;
  max-width: 40px;
  max-height: 50px;
  padding: 15px;
  /*position: absolute;*/
  display: inline-block;
}

nav{
  border: 2px solid orange;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

nav a{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}



.first-row{
  border: 2px solid orange;
  /*width: 1400px;*/
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap; << this isn't really needed unless I combine the 2 rows*/
  align-items: flex-start;
  justify-content: space-between;
}

.second-row{
  border: 2px solid orange;
  /*width: 1400px;*/
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap; << this isn't really needed unless I combine the 2 rows*/
  align-items: flex-start;
  justify-content: space-between;
}


.photos{/*starting concept taken from - https://css-tricks.com/text-blocks-over-image/*/
  /*position: relative;*/
  border: 0.5px solid pink;
  display: block;
  position:relative;/*this line is necessary to stay tied to the caption*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap; << this isn't really needed unless I combine the 2 rows*/
  /*align-items: flex-start;

  top: 200px;
  left: 0;
  width: 100%;*/
}


.photos div{/*this is the code for Endless Poss...*/
  font-family: 'Merriweather', serif;
  margin: 10px;
  position: absolute;
  bottom: 50px;
  /*width: 25%;*/
  padding: 10px;
  z-index: 10;
  color: white;
  background-color: green;
}

#image1{
  border: 2px solid purple;
  width: 750px;
  height: 390px;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  float: left;
  z-index: -10
}

#image2{
  border: 2px solid purple;
  width: 260px;
  height: 390px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

#image3{
  border: 2px solid purple;
  width: 260px;
  height: 390px;
  object-fit: cover;
  object-position: left;
  overflow: hidden;
}

#image4, #image5, #image7{
  border: 2px solid purple;
  width: 260px;
  height: 260px;
  object-fit: cover;
  object-position: left;
  overflow: hidden;
}

#image6{
  border: 2px solid purple;
  width: 520px;
  height: 260px;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}
